html{
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	overflow-x: auto;
}

body{
	background-color: black;
}

#topPage{
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 35px;
	background-color: grey;
}

#topBar{
	text-align: center;
	margin: auto;
	margin-top: -13px;
	width: 1000px;
}

#topTitle{
	float: left;
	font-size: 32px;
	font-weight: bold;
	margin-top: -9px;
	width: 375px;
}

#topTitle a{
	display: block;
	height: 37px;
	width: 180px;
	color: black;
	text-decoration: none;
}

#topTitle a:hover{
	background-color: #CC0000;
	color: white;
}

#topColor{
	width: 175px;
	float: left;
}

#topMenu{
	float: right;
	width: 350px;
}

#topMenu a{
	display: block;
	float: right;
	margin-top: -7px;
	padding-top: 7px;
	height: 28px;
	width: 75px;
	color: black;
	text-decoration: none;
}

#topMenu a:hover{
	background-color: #CC0000;
	color: white;
}

h1{
	margin-top: -3px;
	padding-top: 20px;
	margin-left: -10px;
	margin-right: -10px;
	padding-bottom: 10px;
	background-color: #CC0000;
	color: black;
}

#page{
	z-index: 1;
	width: 1000px;
	margin: auto;
	text-align: center;
}

#page a{
	color: black;
	text-decoration: none;
}

#page a:hover{
	color: #FF4444;
}

#juste{
	width: 650px;
	margin-top: -9px;
	margin-left: 175px;
	margin-right: 175px;
	margin-bottom: -9px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: justify;
	background-color: grey;
}

#centre{
	width: 650px;
	margin-left: 175px;
	margin-right: 175px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: grey;
}

#leftCol{
	padding-top: 7px;
	text-transform: uppercase;
	width: 100px;
    float: right;
    
}

#rightCol{
    margin-left: -45px;
	margin-top: 30px;
	float: left;
}

#article{
	border: 2px solid #CC0000;
	margin-bottom: 5px;
}

#titre{
	font-weight: bold;
	border: 1px solid #CC0000;
	padding-top: 2px;
	padding-left: 10px;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

#date{
	text-align: right;
	padding-right: 5px;
}

#contenu{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
}

label{
	display: block;
	text-align: right;
	width: 450px;
	float: left;
}

table{
	background-color: grey;
	padding-left: 10px;
	padding-right: 10px;
}

marquee{
	position: fixed;
	width: 240px;
	background: grey;
	margin-top: -3px;
	padding-top: 1080px;
	margin-left: -45px;
}